In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# Question 1 
Q1. Write a code to print the data present in the second row of the dataframe, df.

# Answer

In [9]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [23]:
df.loc[1]

A     2
B     6
C    10
Name: 1, dtype: int64

# Question 2
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
# Answer

loc - It only get label i.e column name or Features

iloc - Here i stands for integer, actually row number

# question 3
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
# Answer

In [19]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
print(new_df)

   A  B   C
3  4  8  12
0  1  5   9
1  2  6  10
2  3  7  11

In [20]:
print(new_df.loc[2])
print(new_df.iloc[2])

A     3
B     7
C    11
Name: 2, dtype: int64
A     2
B     6
C    10
Name: 1, dtype: int64

 # Question 3 2ndPart
 Did you observe any difference in both the outputs? If so then explain it.

Yes, there is a difference between the output of new_df.loc[2] and new_df.iloc[2].
new_df.loc[2] returns the row with the index label 2. After reindexing, the row with index label 2 corresponds to the row that was originally at index position 1 in the original DataFrame.
Therefore, new_df.loc[2] returns the values from the row that was originally at index position 1 in the original DataFrame, but now has index label 2 in the reindexed DataFrame.
On the other hand, new_df.iloc[2] returns the row with the index position 2. After reindexing, the row with index position 2 corresponds to the row that was originally at index position 1 in the original DataFrame.
Therefore, new_df.iloc[2] returns the values from the row that was originally at index position 1 in the original DataFrame, but now has index position 2 in the reindexed DataFrame.
In summary, new_df.loc[2] uses the index label to select a row, while new_df.iloc[2] uses the index position to select a row.

# Consider the below code to answer further questions:

In [24]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# question 4 
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’
# Answer

In [26]:
# (i)
df1.mean()

column_1    0.643098
column_2    0.565027
column_3    0.447348
column_4    0.404786
column_5    0.556636
column_6    0.413463
dtype: float64

In [27]:
# (ii)
df1['column_2'].std()

0.40602828909887867

# question 5 
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
# Answer

It is not possible to replace the numeric data in a pandas dataframe column with a string variable.
This will result in a TypeError because the mean function cannot be calculated on a column with mixed data types.
If you want to replace the data in the second row of 'column_2' with a string, you can do so by assigning the value to the specific location using the .loc method as follows:
df1.loc[2, 'column_2'] = 'string'
This will replace the value in the second row and column_2 with 'string'.
However, as mentioned before, it is not possible to calculate the mean of column_2 as it now contains mixed data types. Instead,
you can convert the column to a numeric data type using the pd.to_numeric() function and then calculate the mean as follows:

# question 6
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
# Answer

In pandas, a window function is a function that operates on a set of rows (i.e., a window) of a DataFrame or Series, returning a new value for each row based on its position in the window. 
There are various types of window functions in pandas, including:
1.Rolling window functions
2.Expanding window function
3.Exponentially weighted window functions
4.Cumulative window functions
5.User-defined window functions

# question 7
Q7. Write a code to print only the current month and year at the time of answering this question.
# Answer

In [5]:
import datetime
# get current date and time
now = datetime.datetime.now()
# print the current month and year
print("Current month and year:", now.strftime("%B %Y"))

Current month and year: March 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta.
The program should prompt the user to enter the dates and display the result.
import pandas as pd|

In [ ]:
import pandas as pd
# Get the two dates as input from the user
date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")
# Convert the input strings to pandas datetime objects
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)
# Calculate the difference between the two dates using pandas time delta
delta = date2 - date1
# Extract the number of days, hours, and minutes from the delta object
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60
# Display the result
print("The difference between", date1_str, "and", date2_str, "is", days, "days,", hours, "hours, and", minutes, "minutes.")

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type.
The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt user for file path
file_path = input("Enter file path: ")

# Read CSV file
df = pd.read_csv(file_path)

# Prompt user for column name
column_name = input("Enter column name: ")

# Prompt user for category order
categories = input("Enter category order separated by comma: ")
categories = [cat.strip() for cat in categories.split(",")]

# Convert column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=categories, ordered=True)

# Sort by the categorical column
df_sorted = df.sort_values(by=column_name)

# Display sorted data
print(df_sorted)

# question 10 
Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.
# Answer

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt user for file path
file_path = input("Enter file path: ")

# Load CSV file into a pandas dataframe
df = pd.read_csv(file_path)

# Pivot the dataframe to get total sales for each product category by year
df_pivot = pd.pivot_table(df, values='Sales', index='Year', columns='Category', aggfunc=sum)

# Create stacked bar chart
ax = df_pivot.plot(kind='bar', stacked=True)

# Set chart title and axis labels
ax.set_title('Product Sales by Category')
ax.set_xlabel('Year')
ax.set_ylabel('Total Sales')

# Display chart
plt.show()

# Question 11
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table. The program should do the followingM I Prompt the user to enter the file path of the CSV file containing the student dataR I Read the CSV file into a Pandas DataFrameR I Calculate the mean, median, and mode of the test scores using Pandas toolsR I Display the mean, median, and mode in a table. Assume the CSV file contains the following columnsM I Student ID: The ID of the studentR I Test Score: The score of the student's test. Example usage of the program: Enter the file path of the CSV file containing the student data: student_data.csv +-----------+--------+ | Statistic | Value | +-----------+--------+ | Mean | 79.6 | | Median | 82 | | Mode | 85, 90 | +-----------+--------+ Assume that the CSV file student_data.csv contains the following data: Student ID,Test Score 1,85 2,90 3,80 4,75 5,85 6,82 7,78 8,85 9,90 10,85 The program should calculate the mean, median, and mode of the test scores and display the results in a table.

In [ ]:
import pandas as pd

# Prompt user for file path
file_path = input("Enter file path: ")

# Load CSV file into a pandas dataframe
df = pd.read_csv(file_path)

# Calculate mean, median, and mode of test scores
mean_score = df['Score'].mean()
median_score = df['Score'].median()
mode_score = df['Score'].mode().values[0]

# Create a dataframe to display results
results = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                        'Score': [mean_score, median_score, mode_score]})

# Display results
print(results)